# Backend
PORT=5000
MONGODB_URI=your_mongodb_connection_string
JWT_SECRET=your_secure_jwt_secret
ADMIN_FRONTEND_URL=http://localhost:5173
PUBLIC_FRONTEND_URL=http://localhost:3000

# Admin Frontend
VITE_API_BASE_URL=http://localhost:5000/api/v1

# Public Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000/api/v1